/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
    -fx-background-image: url('https://i.imgur.com/qubRIW3.jpg');
    -fx-background-size: stretch;
}

.main {
    -fx-background-image: url('https://i.imgur.com/8477yAN.jpg');
    -fx-background-size: stretch;
    -fx-font-weight: bold;
}

.settings {
	-fx-background-image: url('https://i.imgur.com/QmCtiSk.png');
	-fx-background-size: stretch;
}

.multiplayer {
	-fx-background-image: url('https://i.imgur.com/yVTa6VY.png');
	-fx-background-size: stretch;
}

.player {
	-fx-background-image: url('https://i.imgur.com/yVTa6VY.png');
	-fx-background-size: stretch;
}

/*
.label {
    -fx-border-color: rgb(0, 0, 255);
    -fx-border-radius: 5;
    -fx-padding: 2 2 2 2;
}
*/

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}

.button {
	-fx-background-color:  rgb(100,215,245);
	-fx-border-radius: 1;
	-fx-border-color: rgb(0,0,0);
	-fx-opacity: 0.65;
}